<div class="title-route">
    <a href="/" >Bosh sahifa</a> / 
    <a href="/moderator">Moderatorlar</a> /
    <h6>Moderator qo'shish</h6> 
</div>

<div class="card-box p-3">
    <div class="d-flex">
        <button class="button__back" type="button" onclick="window.history.back()">
            <i class="fa fa-arrow-left"></i>
        </button>
        <h4 class="f-15 mb-4 header__title">Moderator qo'shish</h4>
    </div>
    <div class="form-all">
        <div class="row">
            <div class="col-md-4">1</div>
            <div class="col-md-4">2</div>
            <div class="col-md-4">3</div>
        </div>
    </div>
</div>