<div class="title-box">
    <div class="row">
        <div class="col-md-6"><h1 class="title-text">Dashboard</h1></div>
        <div class="col-md-6"></div>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <div class="card-box p-4">
            <div class="box-title">
                <h2 class="f-16"> Active Session</h2>
                <div class="box-img-55">
                    <i class="fa fa-archive bg-primary"></i>
                </div>
            </div>
            <h3>43,225</h3>
            <div class="range-box">
                <div class="range_width bg-primary"></div>
            </div>
            <div class="box-bottom">
                <h6>Previous Period</h6>
                <h6 class="get-range">75%</h6>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card-box p-4">
            <div class="box-title">
                <h2 class="f-16"> Active Session</h2>
                <div class="box-img-55">
                    <i class="fa fa-archive bg-success"></i>
                </div>
            </div>
            <h3>43,225</h3>
            <div class="range-box">
                <div class="range_width bg-success"></div>
            </div>
            <div class="box-bottom">
                <h6>Previous Period</h6>
                <h6 class="get-range">75%</h6>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card-box p-4">
            <div class="box-title">
                <h2 class="f-16"> Active Session</h2>
                <div class="box-img-55">
                    <i class="fa fa-archive bg-info"></i>
                </div>
            </div>
            <h3>43,225</h3>
            <div class="range-box">
                <div class="range_width bg-info"></div>
            </div>
            <div class="box-bottom">
                <h6>Previous Period</h6>
                <h6 class="get-range">75%</h6>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card-box p-4">
            <div class="box-title">
                <h2 class="f-16"> Active Session</h2>
                <div class="box-img-55">
                    <i class="fa fa-archive bg-danger"></i>
                </div>
            </div>
            <h3>43,225</h3>
            <div class="range-box">
                <div class="range_width bg-danger"></div>
            </div>
            <div class="box-bottom">
                <h6>Previous Period</h6>
                <h6 class="get-range">75%</h6>
            </div>
        </div>
    </div>
</div>

<div class="card-body card-box">
    <div class="d-flex justify-content-between">
        <h4 class="f-15 mb-4 header__title">Moderatorlar</h4>
        <div>
            <a href="/addmoderator" class="add__link">+ Qo'shish</a>
        </div>
    </div>

    <div class="simple-table">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Status</th>
                    <th>Phone</th>
                    <th>Location</th>
                    <th>Maosh</th>
                    <th>Holati</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div class="d-flex align-items-center">
                            <div class="img-45">
                                <img src="/img/header_pro.png" alt="">
                            </div>
                            <h5 class="f-14 m-2">Serena Williams</h5>
                        </div>
                    </td>
                    <td>Direktor</td>
                    <td>+99890-116-66-99</td>
                    <td>Tashkent, Yunusobod</td>
                    <td>100$</td>
                    <td>
                        <span class="color-text bg-success">Aktiv</span>
                    </td>
                    <td>
                        <div class="actions-link">
                            <a href="#">
                                <i class="fa fa-eye"></i>
                            </a>
                            <a href="#">
                                <i class="fa fa-pencil-square-o"></i>
                            </a>
                            <a href="#">
                                <i class="fa fa-trash"></i>
                            </a>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="d-flex align-items-center">
                            <div class="img-45">
                                <img src="/img/header_pro.png" alt="">
                            </div>
                            <h5 class="f-14 m-2">Serena Williams</h5>
                        </div>
                    </td>
                    <td>Direktor</td>
                    <td>+99890-116-66-99</td>
                    <td>Tashkent, Yunusobod</td>
                    <td>100$</td>
                    <td>
                        <span class="color-text bg-danger">Inactive</span>
                    </td>
                    <td>
                        <div class="actions-link">
                            <a href="#">
                                <i class="fa fa-eye"></i>
                            </a>
                            <a href="#">
                                <i class="fa fa-pencil-square-o"></i>
                            </a>
                            <a href="#">
                                <i class="fa fa-trash"></i>
                            </a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="d-flex align-items-center">
                            <div class="img-45">
                                <img src="/img/header_pro.png" alt="">
                            </div>
                            <h5 class="f-14 m-2">Serena Williams</h5>
                        </div>
                    </td>
                    <td>Direktor</td>
                    <td>+99890-116-66-99</td>
                    <td>Tashkent, Yunusobod</td>
                    <td>100$</td>
                    <td>
                        <span class="color-text bg-success">Aktiv</span>
                    </td>
                    <td>
                        <div class="actions-link">
                            <a href="#">
                                <i class="fa fa-eye"></i>
                            </a>
                            <a href="#">
                                <i class="fa fa-pencil-square-o"></i>
                            </a>
                            <a href="#">
                                <i class="fa fa-trash"></i>
                            </a>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="d-flex align-items-center">
                            <div class="img-45">
                                <img src="/img/header_pro.png" alt="">
                            </div>
                            <h5 class="f-14 m-2">Serena Williams</h5>
                        </div>
                    </td>
                    <td>Direktor</td>
                    <td>+99890-116-66-99</td>
                    <td>Tashkent, Yunusobod</td>
                    <td>100$</td>
                    <td>
                        <span class="color-text bg-danger">Inactive</span>
                    </td>
                    <td>
                        <div class="actions-link">
                            <a href="#">
                                <i class="fa fa-eye"></i>
                            </a>
                            <a href="#">
                                <i class="fa fa-pencil-square-o"></i>
                            </a>
                            <a href="#">
                                <i class="fa fa-trash"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>