<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%= title %>  </title>
    <!-- MDB -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.3.0/mdb.min.css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>

    <nav class="menu-nav">
        <div class="nav-logo">
            <a href="#">
                <i class="fa fa-cubes"></i>
                <h6>UMD</h6>
            </a>
        </div>
        <div class="left-sidebar-menu">
            <div class="menu-ul">
                <ul class="nav-menu">
                    <h5>Menu</h5>
                    <li class="__link">
                        <a class="link__active" href="#"><i class="fa fa-tachometer"></i> <b>Dashboard</b> </a>
                    </li>
                    <li class="dropdown-li">
                        <a href="#"><i class="fa fa-envelope-o"></i> <b>Email</b> <i class="fa fa-angle-right menu-right-icon"></i></a>
                        <ul class="content-accordion">
                            <li><a href="#">Inbox</a></li>
                            <li><a href="#">Inbox</a></li>
                            <li><a href="#">Inbox</a></li>
                            <li><a href="#">Inbox</a></li>
                        </ul>
                    </li>
                    <li class="dropdown-li">
                        <a href="#"><i class="fa fa-envelope-o"></i> <b>Email</b> <i class="fa fa-angle-right menu-right-icon"></i></a>
                        <ul class="content-accordion">
                            <li><a href="#">Inbox</a></li>
                            <li><a href="#">Inbox</a></li>
                            <li><a href="#">Inbox</a></li>
                            <li><a href="#">Inbox</a></li>
                        </ul>
                    </li>
                    <li class="dropdown-li">
                        <a href="#"><i class="fa fa-envelope-o"></i> <b>Email</b> <i class="fa fa-angle-right menu-right-icon"></i></a>
                        <ul class="content-accordion">
                            <li><a href="#">Inbox</a></li>
                            <li><a href="#">Inbox</a></li>
                            <li><a href="#">Inbox</a></li>
                            <li><a href="#">Inbox</a></li>
                        </ul>
                    </li>
                    <li class="__link">
                        <a href="#"><i class="fa fa-tasks"></i> <b>Moderators</b> </a>
                    </li>
                    <li class="dropdown-li">
                        <a href="#"><i class="fa fa-envelope-o"></i> <b>Email</b> <i class="fa fa-angle-right menu-right-icon"></i></a>
                        <ul class="content-accordion">
                            <li><a href="#">Inbox</a></li>
                            <li><a href="#">Inbox</a></li>
                            <li><a href="#">Inbox</a></li>
                            <li><a href="#">Inbox</a></li>
                        </ul>
                    </li>
                    <li class="dropdown-li">
                        <a href="#"><i class="fa fa-envelope-o"></i> <b>Email</b> <i class="fa fa-angle-right menu-right-icon"></i></a>
                        <ul class="content-accordion">
                            <li><a href="#">Inbox</a></li>
                            <li><a href="#">Inbox</a></li>
                            <li><a href="#">Inbox</a></li>
                            <li><a href="#">Inbox</a></li>
                        </ul>
                    </li>
                    <li class="dropdown-li">
                        <a href="#"><i class="fa fa-envelope-o"></i> <b>Email</b> <i class="fa fa-angle-right menu-right-icon"></i></a>
                        <ul class="content-accordion">
                            <li><a href="#">Inbox</a></li>
                            <li><a href="#">Inbox</a></li>
                            <li><a href="#">Inbox</a></li>
                            <li><a href="#">Inbox</a></li>
                        </ul>
                    </li>
                    <li class="__link">
                        <a href="#"><i class="fa fa-tasks"></i> <b>Moderators</b> </a>
                    </li>
                    <li class="dropdown-li">
                        <a href="#"><i class="fa fa-envelope-o"></i> <b>Email</b> <i class="fa fa-angle-right menu-right-icon"></i></a>
                        <ul class="content-accordion">
                            <li><a href="#">Inbox</a></li>
                            <li><a href="#">Inbox</a></li>
                            <li><a href="#">Inbox</a></li>
                            <li><a href="#">Inbox</a></li>
                        </ul>
                    </li>
                    <li class="dropdown-li">
                        <a href="#"><i class="fa fa-envelope-o"></i> <b>Email</b> <i class="fa fa-angle-right menu-right-icon"></i></a>
                        <ul class="content-accordion">
                            <li><a href="#">Inbox</a></li>
                            <li><a href="#">Inbox</a></li>
                            <li><a href="#">Inbox</a></li>
                            <li><a href="#">Inbox</a></li>
                        </ul>
                    </li>
                    <li class="dropdown-li">
                        <a href="#"><i class="fa fa-envelope-o"></i> <b>Email</b> <i class="fa fa-angle-right menu-right-icon"></i></a>
                        <ul class="content-accordion">
                            <li><a href="#">Inbox</a></li>
                            <li><a href="#">Inbox</a></li>
                            <li><a href="#">Inbox</a></li>
                            <li><a href="#">Inbox</a></li>
                        </ul>
                    </li>
                    <li class="__link">
                        <a href="#"><i class="fa fa-tasks"></i> <b>Moderators</b> </a>
                    </li>
                    <li class="dropdown-li">
                        <a href="#"><i class="fa fa-envelope-o"></i> <b>Email</b> <i class="fa fa-angle-right menu-right-icon"></i></a>
                        <ul class="content-accordion">
                            <li><a href="#">Inbox</a></li>
                            <li><a href="#">Inbox</a></li>
                            <li><a href="#">Inbox</a></li>
                            <li><a href="#">Inbox</a></li>
                        </ul>
                    </li>
                    <li class="dropdown-li">
                        <a href="#"><i class="fa fa-envelope-o"></i> <b>Email</b> <i class="fa fa-angle-right menu-right-icon"></i></a>
                        <ul class="content-accordion">
                            <li><a href="#">Inbox</a></li>
                            <li><a href="#">Inbox</a></li>
                            <li><a href="#">Inbox</a></li>
                            <li><a href="#">Inbox</a></li>
                        </ul>
                    </li>
                    <li class="dropdown-li">
                        <a href="#"><i class="fa fa-envelope-o"></i> <b>Email</b> <i class="fa fa-angle-right menu-right-icon"></i></a>
                        <ul class="content-accordion">
                            <li><a href="#">Inbox</a></li>
                            <li><a href="#">Inbox</a></li>
                            <li><a href="#">Inbox</a></li>
                            <li><a href="#">Inbox</a></li>
                        </ul>
                    </li>
                    <li class="__link">
                        <a href="#"><i class="fa fa-tasks"></i> <b>Moderators</b> </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    

    <%- body %> 


    <!-- Scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- MDB -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.3.0/mdb.min.js"></script>
    <script defer src="https://unpkg.com/@coreui/icons/js/svgxuse.js"></script>
    <script src="/js/main.js"></script>
</body>
</html>