*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
.login{
    width: 100%;
    height: 100vh;
    background-image: url('../image/restaurant.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.all-form-group{
    width: 434px;
    height: 433px;
    border-radius: 5px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    .logo-login{
        width: 114px;
        height: 27px;
        text-align: center;    
        margin: 20px 0;
    }
    h3{
        font-size: 18px;
        font-family: 'Poppins', sans-serif;
    }
    form{
        width: 90%;
        height: 61%;
        font-size: 13px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        label{
            display: block;
            font-weight: 600;
        }
        input{
           width: 100%;
           height: 36px;
           border: 1px solid #ced4da;
           border-radius: 3px;
           outline: none;
        }
        button{
            width: 100%;
            height: 40px;
            outline: none;
            border: none;
            background-color:#30419b;
            border-radius: 3px;
            color: #fff;
            font-size: 16px;
            letter-spacing: 1px;
        }
    }
}
